<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back to tasks", tasks_path %>
</div>

<h1>task</h1>

<%= render @task %>

<h2>comments</h2>
<% unless @comments.empty? %>
  <table>
    <thead>
      <tr>
        <th>Body</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.body %></td>
          <td><%= comment.author_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No comments</p>
<% end %>

<h2>add comment</h2>

<%= render "comments/form", comment: @comment, task: @task %>