<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back to projects", projects_path %>
</div>

<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<h2>Tasks</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>  
      <th>Due Date</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.status %></td>
        <td><%= task.due_date&.strftime("%B %d, %Y") %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>add task</h2>

<%= render "tasks/form", task: @task, project: @project %>
